<ion-view view-title="App Availability">
    <ion-content class="module-action">
        <button class="button button-block button-calm" ng-click="isAppAvailable('twitter')">
            Twitter
        </button>
        <button class="button button-block button-positive" ng-click="isAppAvailable('facebook')">
            Facebook
        </button>
        <button class="button button-block button-balanced" ng-click="isAppAvailable('whatsapp')">
            Whatsapp
        </button>
        <p ng-bind="message" class="module-result"></p>
    </ion-content>
</ion-view>
